<!DOCTYPE html>
<html>
<head>
  <title>Truck System</title>
  <link rel="stylesheet" href="/app.css">
</head>
<body class="home">

  <h1><%= message %></h1>
  <ul>
    <li><a href="/staff">Staff</a></li>
    <li><a href="/vehicles">Vehicles</a></li>
  </ul>
</body>
</html>
